
html{
    background-image: url(./pics/wallpapersden.com_space-layers_7680x1440.jpg);
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif
}
header{
    text-align: center;
    color: white;  
}
 h1{
   color: white;
   font-size: 3rem;
   text-align: center;   
 }
 body{
    
    margin: 0;
 }
.main{
    
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   height: 70vh;
    
}



.tile-pic{
    flex:1;
   height: 125px;
   
    padding: 5px;
    margin: 0;
    border-radius: 10px;


    float:right;
}
p{
    margin: 0;
    padding: 5px;
}
.card{
    align-items: center;
    max-width: 500px;
    height: 400px;
    border: solid white;
    border-radius: 10px;
    color: white;
    font-size:20px;
    padding: 3px;
    
    } 
.second{
    
  

}
.third{
    
}
@media (max-width: 800px) {

   h1{font-size: 5rem;}
   
   .tile-pic{width: 150px; border-radius: 10px; padding: 3px; }
   
   .main{
    
   height: 100vh;
   flex-direction: column;
  justify-content: space-evenly;
   
    
    
    }
    .card{
        max-width: 250px;
        height: 33vh;

    }

  }

